<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.synthesis.dao.SysConfigMapper">
  <resultMap id="BaseResultMap" type="com.example.synthesis.pojo.SysConfig">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.synthesis.pojo.SysConfig">
    insert into sys_config (id, `value`, `label`, 
      `type`, `describe`, sort, 
      creator, create_time, last_update_by, 
      last_update_time, remarks, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.synthesis.pojo.SysConfig">
    update sys_config
    set `value` = #{value,jdbcType=VARCHAR},
      `label` = #{label,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `value`, `label`, `type`, `describe`, sort, creator, create_time, last_update_by, 
    last_update_time, remarks, del_flag
    from sys_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `value`, `label`, `type`, `describe`, sort, creator, create_time, last_update_by, 
    last_update_time, remarks, del_flag
    from sys_config
  </select>
</mapper>