<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.synthesis.dao.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.synthesis.pojo.SysUserRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into sys_user_role (id, user_id, role_id, 
      creator, create_time, last_update_by, 
      last_update_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, now(), #{lastUpdateBy,jdbcType=VARCHAR},
      now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="map">
    update sys_user_role
    set user_id = #{userId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select id, user_id, role_id, creator, create_time, last_update_by, last_update_time
    from sys_user_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, role_id, creator, create_time, last_update_by, last_update_time
    from sys_user_role
  </select>
</mapper>